.marks .land {
  fill: #ececec;
}
.marks .sphere {
  fill: #fbfbfb;
  transition: all 0.5s ease;
}
.marks .interiors {
  fill: none;
  stroke: #d9dfe0;
}
.marks .graticules,
.tick line {
  fill: none;
  stroke: #ececec;
}
circle {
  fill: #137b80;
  opacity: 0.3;
}
