.tick line {
  stroke: #c0c0bb;
}

.tick text {
  fill: #635f5d;
  font-family: "Poppins", sans-serif;
}

.axis-label {
  fill: #635f5d;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
}

label,
select {
  font-family: "Poppins", sans-serif;
  font-size: 3em;
}

select option {
  font-size: 1em;
}
